:root {
  --primary: #01295f;
  --secondary: #437f97;
  --success: #849324;
  --warning: #ffb30f;
  --danger: #fd151b;
  --light: #fff;
  //   others colors
  --primary2: #283d3b;
  --secondary2: #197278;
  --success2: #edddd4;
  --danger2: #c44536;
  --danger-dark: #772e25;
}
