extends ./templates/template
block content
   .page-container
      .card-pokemon#card-pokemon
         .card-pokemon__head
            h2.card-pokemon__title#card-name-pokemon What's the pokemon?
         .card-pokemon__body
            img.img-pokemon#img-pokemon(src="./assets/img/spiner.gif", alt="" )
         .card-pokemon__footer#card-pokemon__footer
         .card-pokemon__result#pokemon-result
            h2.title-result#title-result 
            button.card-pokemon__btn#card-pokemon__btn New Game
            
         