extends ./templates/template
block content
   .page-container
      .card-pokemon
         .img-pokemon-container
            img.img-pokemon#img-pokemon(src="", alt="")
         .card-pokemon__body
            h2.card-pokemon__title#card-name-pokemon What's Pokemon?
         .card-pokemon__footer#card-pokemon__footer
         
            
         